# Core
python-dotenv
GitPython
telegraph
youtube-search-python
yt-dlp

# Database
motor==3.3.2
pymongo[srv]==4.6.1

# Telegram Libraries
pyrogram==2.0.106
tgcrypto==1.2.5

# Voice Calls
py-tgcalls==0.9.7

# Async (built-in होता है, remove करो)
# asyncio ❌ मत डालो
